footer
    ul#stat-page.nine.columns
        li
            a(href="/about.html") #{footer.about}
        li
            a(href="/contact.html") #{footer.contacts}
        li
            a(href="/license.html") #{footer.license}
