header
    div.one-half.column
        h1#name= header.siteName
    div#icons-wrapper.one-third.u-pull-right.column
        div#socialNetworks.icons
            p Here is social network icons
        div#languages.icons
            img#ruicon(src = "/images/Russia.png", alt = "ru")
            img#enicon(src = "/images/United-Kingdom.png", alt = "en")
