p
    | На этой странице находится короткое описание тренажера для заучивания слов "Запоминай!".
p
    | Зарегистрируйтесь и Вам будут доступны все возможности тренажера.
p
    | После регистрации авторизуйтесь на сайте. Авторизованным пользователям становится доступна панель управления
    | тренажера и раздел ![a(href='/profile')"Личной комнате"].

p
    | В "Личной комнате" Вам доступен просмотр регистрационных данных, архивных слов и словарей, статистики, а так же Вы
    | можете добавить к своим словарям предустановленные словари.

p
    | С панели управления вы можете вызвать панели управления словарями и словами, а так же перейти в режим 
    | заучивания и тестирования.

p
    | В режиме тестирования Вам будет предложено выбрать словарь и условие сокрытия. После этого нажмите кнопку "Начать"
    | и приступайте к проверке знаний. Каждое слово в выбранном словаре будет отображаться отдельно. После того, как Вы
    | ввели предполагаемое значение, нажмите кнопку "Дальше", чтобы перейти к следующему слову. При нажатии кнопки
    | "Пропустить"  слово будет помещено в конец очереди. Вы вернетесь к нему позже.
    
p
    | В режиме заучивания после выбора словаря Вы сможете приступить к запоминанию. Кликните по слову, чтобы раскрыть его
    | значение. В этом режиме доступны 3 опции. Вы можете перемешать слова, выбрать условие сокрытия, а так же раскрыть или
    | спрятать значения всех слов.

p
    | Панели управления словарями и словами во многом похожи. На обоих панелях можно создавать, редактировать, добавлять в
    | архив, удалять и выполнять поиск словарей или слов. Формы редактирования и создания одинаковы, за исключением того,
    | что для слов Вы можете выбрать словарь, в который будет помещено это слово. Добавленное в
    | архив слово или словарь (добавляется со всеми словами) не будет видно в панели управления словами или словарями. Вы
    | сможете восстановить его в разделе ![a(href='/profile')"Личная комната"]. Чтобы полностью удалить слово или
    | словарь (со всеми словами) нажмите кнопку "Удалить". Удалённые словари и слова восстановить невозможно! Для поиска
    | начните вводить (не менее 3-х символов), а затем нажмите кнопку "Enter".
