div#page-content
	h4 Два раза ку, землянин!
	p Изучаете иностранный язык? Требуется помощь в запоминании слов и их значений? Используйте тренажер для заучивания слов "Запоминай!". "Запоминай!" помогает учить иностранные слова и позволяет:
	ul.index-page
		li создавать слова и объединять их в словари;
		li определять значения слов;
		li учить слова в режиме заучивания;
		li проверять свои знания в режиме тестирования;
		li вести статистику для более эффективного заучивания.
	p Вы можете использовать тренажер не только для изучения иностранных языков. Он будет полезен для запоминания дат, терминов и т.д.
	p Начните знакомство с тренажером с раздела ![a(href='/help')"Обучение"]. Там Вы найдете короткий гид по возможностям "Запоминай!".
	p
		| С любым вопросами и предложениями Вы можете обратиться к нам по адресу <a href='mailto://memorizeit.app@gmail.com'>memorizeit.app@gmail.com</a>.
		| Подробнее о том, как связатьтся с нами, Вы можете узнать на странице <a href='./contact.html'>Контакты</a>.
