extends ./layout.jade
block title
    title #{head.title} | #{head.siteName} - #{head.slogan}
    link(rel="stylesheet", href="/styles/help.css")
block metarobots
    meta(name="robots", content="nofollow, noindex")
block content
    h3= content.header
    case lang
        when "ru"
            include ./includes/helpContentRu.jade
        when "en"
            include ./includes/helpContentEn.jade
        default
            include ./includes/helpContentEn.jade
