h3 Hello, #{user.name}!
p You have requested password changing on the site "Memorizeit!".
p Just delete this letter if you did not do that.
ul
	li Your login: #{user.name}
	li Your password: #{user.password}
include ./includes/subscribe.jade
