h3 Привет, #{user.name}!
p Вы запросили восстановление пароля на сайте "Запоминай!".
p Если Вы этого не делали, то не обращайте внимание на это письмо.
ul
	li Ваш логин: #{user.name}
	li Ваш пароль: #{user.password}
include ./includes/subscribe.jade
